BPEL_Notificar/bpelContent/listaEspera.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/listaEspera/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="listaEspera" targetNamespace="http://www.example.org/listaEspera/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/listaEspera/">
      <xsd:element name="anyadirAListaDeEspera">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="origen" type="xsd:string"></xsd:element>
          	<xsd:element name="destino" type="xsd:string"></xsd:element>
          	<xsd:element name="idVuelo" type="xsd:int" />
          	<xsd:element name="idAerolinea" type="xsd:int"></xsd:element>
          	<xsd:element name="correo" type="xsd:string"></xsd:element>
          	<xsd:element name="plazas" type="xsd:int"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="anyadirAListaDeEsperaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="salida" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hayClientesEnEspera">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="hayClientesEnEsperaResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="salida" type="xsd:boolean"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerListaVuelos">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerListaVuelosResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="idVuelo1" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="idVuelos2" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerClientes">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="idAerolinea" type="xsd:int"></xsd:element>
      			<xsd:element name="idVuelo" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerClientesResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="correo" type="xsd:string"
      				maxOccurs="unbounded" minOccurs="0">
      			</xsd:element>
      			<xsd:element name="plazas" type="xsd:int" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerClientesANotificar">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="idAerolinea" type="xsd:int"></xsd:element>
      			<xsd:element name="vuelos" type="xsd:string"
      				maxOccurs="1" minOccurs="1">
      			</xsd:element>
      			<xsd:element name="plazas" type="xsd:string"
      				maxOccurs="1" minOccurs="1">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerClientesANotificarResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="correos" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="mensajes" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="anyadirAListaDeEsperaRequest">
    <wsdl:part element="tns:anyadirAListaDeEspera" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="anyadirAListaDeEsperaResponse">
    <wsdl:part element="tns:anyadirAListaDeEsperaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hayClientesEnEsperaRequest">
  	<wsdl:part name="parameters" element="tns:hayClientesEnEspera"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="hayClientesEnEsperaResponse">
  	<wsdl:part name="parameters" element="tns:hayClientesEnEsperaResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerListaVuelosRequest">
  	<wsdl:part name="parameters" element="tns:obtenerListaVuelos"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerListaVuelosResponse">
  	<wsdl:part name="parameters" element="tns:obtenerListaVuelosResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerClientesRequest">
  	<wsdl:part name="parameters" element="tns:obtenerClientes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerClientesResponse">
  	<wsdl:part name="parameters" element="tns:obtenerClientesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerClientesANotificarRequest">
  	<wsdl:part name="parameters" element="tns:obtenerClientesANotificar"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerClientesANotificarResponse">
  	<wsdl:part name="parameters" element="tns:obtenerClientesANotificarResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="listaEspera">
    <wsdl:operation name="anyadirAListaDeEspera">
      <wsdl:input message="tns:anyadirAListaDeEsperaRequest"/>
      <wsdl:output message="tns:anyadirAListaDeEsperaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="hayClientesEnEspera">
    	<wsdl:input message="tns:hayClientesEnEsperaRequest"></wsdl:input>
    	<wsdl:output message="tns:hayClientesEnEsperaResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerListaVuelos">
    	<wsdl:input message="tns:obtenerListaVuelosRequest"></wsdl:input>
    	<wsdl:output message="tns:obtenerListaVuelosResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerClientes">
    	<wsdl:input message="tns:obtenerClientesRequest"></wsdl:input>
    	<wsdl:output message="tns:obtenerClientesResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerClientesANotificar">
    	<wsdl:input message="tns:obtenerClientesANotificarRequest"></wsdl:input>
    	<wsdl:output message="tns:obtenerClientesANotificarResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="listaEsperaSOAP" type="tns:listaEspera">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="anyadirAListaDeEspera">
  		<soap:operation
  			soapAction="http://www.example.org/listaEspera/anyadirAListaDeEspera" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="hayClientesEnEspera">
  		<soap:operation
  			soapAction="http://www.example.org/listaEspera/hayClientesEnEspera" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="obtenerListaVuelos">
  		<soap:operation
  			soapAction="http://www.example.org/listaEspera/obtenerListaVuelos" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="obtenerClientes">
  		<soap:operation
  			soapAction="http://www.example.org/listaEspera/obtenerClientes" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="obtenerClientesANotificar">
  		<soap:operation
  			soapAction="http://www.example.org/listaEspera/obtenerClientesANotificar" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="listaEspera">
    <wsdl:port binding="tns:listaEsperaSOAP" name="listaEsperaSOAP">
      <soap:address location="http://localhost:9080/listaEspera/services/listaEspera"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
